.quasar
.DS_Store
.thumbs.db
node_modules
/dist
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/bin/** 
**/obj/**

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
ZoneService.API/wwwroot/index.html
ZoneService.API/wwwroot/js/0.7cedb2211b595fa0e065.js
ZoneService.API/wwwroot/js/0.1927d59d07930cc438d0.js
ZoneService.API/wwwroot/js/0.d4e649cd7b643d94b91a.js
ZoneService.API/wwwroot/js/1.8d84fad5c8d37f8ab93c.js
ZoneService.API/wwwroot/js/1.87e91366110450b50bf2.js
ZoneService.API/wwwroot/js/2.4444a91bf62c96ea63f5.js
ZoneService.API/wwwroot/js/2.bd1c0d9b44156d9d20f2.js
ZoneService.API/wwwroot/js/3.ac7c164967fe031bec2f.js
ZoneService.API/wwwroot/js/3.bb07f044ae041efaef87.js
ZoneService.API/wwwroot/js/4.14031de061a6e45b3f99.js
ZoneService.API/wwwroot/js/4.e19cf9ef13f6ac71b37e.js
ZoneService.API/wwwroot/js/5.47c20bd1b3410e92b8dd.js
ZoneService.API/wwwroot/js/5.424f135d421a7b414e33.js
ZoneService.API/wwwroot/js/app.8ab7a69e7c6ee9805f28.js
ZoneService.API/wwwroot/js/app.28c012f1431d2a122fe3.js
ZoneService.API/wwwroot/js/manifest.710b52b14d82a127a653.js
ZoneService.API/wwwroot/js/manifest.c828906e82e3ebc3f373.js
ZoneService.API/wwwroot/js/manifest.e25ce85cafa75ad72149.js
ZoneService.API/wwwroot/js/vendor.71475cf3e994a747a2dd.js
ZoneService.API/wwwroot/index.html
ZoneService.API/wwwroot/js/0.d4e649cd7b643d94b91a.js
ZoneService.API/wwwroot/js/1.8d84fad5c8d37f8ab93c.js
ZoneService.API/wwwroot/js/2.4444a91bf62c96ea63f5.js
ZoneService.API/wwwroot/js/3.ac7c164967fe031bec2f.js
ZoneService.API/wwwroot/js/4.e19cf9ef13f6ac71b37e.js
ZoneService.API/wwwroot/js/5.47c20bd1b3410e92b8dd.js
ZoneService.API/wwwroot/js/app.8ab7a69e7c6ee9805f28.js
ZoneService.API/wwwroot/js/manifest.710b52b14d82a127a653.js
ZoneService.API/wwwroot/js/vendor.71475cf3e994a747a2dd.js
ZoneService.API/wwwroot/index.html
